<div class="col-md-12">
   <h3>Online Notepad</h3>
   <p>A simple web based text editor made by <a tooltip-html-unsafe="{{personalCard}}" tooltip-trigger="click" class="">Me</a>.</p>
   <p>I'm a young developer with a very low pay, and I've decided to code this editor as alternative to beg for money at the train station.</p>
   <br />
   <br />
   <h4>Please, don't let me starve, make a donation!</h4>
   <br />
   <form class="form-inline" role="form" ng-submit="makeDonation()">
   <p><strong>Already donated:</strong> <span class="label label-warning">{{donationsAmount}} €</span></p>
      <div class="form-group">
         <select class="form-control" ng-options="value.value for value in donationValues" ng-model="selectedValue">
            <option style="display:none" value="">Choose an amount</option>
         </select>
      </div>
      <button type="submit" class="btn btn-success">Donate</button>
   </form>
</div>