<div class="col-md-12">
<h4>Title: <a href="#" editable-text="currentDocument.title">{{ currentDocument.title || "empty" }}</a></h4>
<hr/>
  <textarea id="editarea" ng-model="currentDocument.content" ng-change="onInputChanged()" traceselection></textarea>
</div>
<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Warning!</h3>
        </div>
        <div class="modal-body">
          There are unsaved changes! Please make a choice.
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="save()">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            <button class="btn btn-danger" ng-click="confirm()">Confirm</button>
        </div>
</script>