<!doctype html>
<!--[if lt IE 7]>      
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
   <![endif]-->
   <!--[if IE 7]>         
   <html class="no-js lt-ie9 lt-ie8">
      <![endif]-->
      <!--[if IE 8]>         
      <html class="no-js lt-ie9">
         <![endif]-->
         <!--[if gt IE 8]><!--> 
         <html class="no-js">
            <!--<![endif]-->
            <head>
               <meta charset="utf-8">
               <title>Online Notepad</title>
               <meta name="description" content="">
               <meta name="viewport" content="width=device-width">
               <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
               <!-- build:css styles/vendor.css -->
               <!-- bower:css -->
               <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
               <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
               <!-- endbower -->
               <!-- endbuild -->
               <!-- build:css({.tmp,app}) styles/main.css -->
               <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
               <link rel="stylesheet" href="styles/main.css">
               <!-- endbuild -->
            </head>
            <body ng-app="notepadApp">
               <!--[if lt IE 7]>
               <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
               <![endif]-->
               <div ng-controller="MainCtrl">
                  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                     <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                           <span class="sr-only">Toggle navigation</span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           </button>
                           <a class="navbar-brand" href="#"><i class="fa fa-file-text"></i></a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                           <ul class="nav navbar-nav">
                              <li class="dropdown">
                                 <a href="" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>File <span class="caret"></span></a>
                                 <ul class="dropdown-menu" role="menu">
                                    <li><a href="" ng-click="newFile()" dropdown-toggle><i class="fa fa-file-o"></i>  New File</a></li>
                                    <li><a href="" ng-click="openFile()" dropdown-toggle><i class="fa fa-folder-open-o"></i>  Open File</a></li>
                                    <li><a href="" ng-click="saveFile()" dropdown-toggle><i class="fa fa-save"></i> Save</a></li>
                                 </ul>
                              </li>
                           </ul>
                           <ul class="nav navbar-nav navbar-right">
                              <li><a href="#about"><i class="fa fa-info-circle"></i> About</a></li>
                           </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                     </div>
                     <!-- /.container -->
                  </nav>
                  <div id="main-content" class="container" ng-view=""></div>
                  <script type="text/ng-template" id="openFileTemplate.html">
                    <div class="modal-header">
                        <h3 class="modal-title">Choose a document</h3>
                    </div>
                    <div class="modal-body">
                      <table class="table">
                        <tr>
                           <th>Title</th>
                           <th>Preview</th>
                           <th>Delete</th>
                        </tr>
                        <tr ng-repeat="document in documents">
                           <td><a href="" ng-click="ok(document)">{{document.title}}</a></td>
                           <td>{{document.content | limitTo: 100}}</td>
                           <td><a href="" ng-click="deleteDocument(document)"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                      </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">Close</button>
                    </div>
                  </script>
               </div>
               <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
               <script>
                  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                  
                  ga('create', 'UA-XXXXX-X');
                  ga('send', 'pageview');
               </script>
               <!--[if lt IE 9]>
               <script src="bower_components/es5-shim/es5-shim.js"></script>
               <script src="bower_components/json3/lib/json3.min.js"></script>
               <![endif]-->
               <!-- build:js scripts/vendor.js -->
               <!-- bower:js -->
               <script src="bower_components/jquery/dist/jquery.js"></script>
               <script src="bower_components/angular/angular.js"></script>
               <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
               <script src="bower_components/angular-resource/angular-resource.js"></script>
               <script src="bower_components/angular-cookies/angular-cookies.js"></script>
               <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
               <script src="bower_components/angular-route/angular-route.js"></script>
               <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
               <script src="bower_components/jquery-textrange/jquery-textrange.js"></script>
               <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
               <!-- endbower -->
               <!-- endbuild -->
               <!-- build:js({.tmp,app}) scripts/scripts.js -->
               <script src="scripts/app.js"></script>
               <script src="scripts/controllers/main.js"></script>
               <script src="scripts/controllers/editor.js"></script>
               <script src="scripts/services/document.js"></script>
               <script src="scripts/services/urlservice.js"></script>
               <script src="scripts/directives/traceselection.js"></script>
               <script src="scripts/controllers/about.js"></script>
               <script src="scripts/services/donation.js"></script>
               <script src="scripts/services/donationvalue.js"></script>
               <!-- endbuild -->
            </body>
         </html>