h3 {
	text-decoration: underline;
}

textarea {
  width: 100%;
  height: 450px;
  resize: none;
  overflow: auto;
  outline: none;
}

hr {
	margin-top: 0px;
}

img {
	width: 50px;
	height: 50px;
	clear: both;
	display: block;
}

#main-content {
  margin-top: 80px;
}